@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body{
    font-family: "Space Grotesk", sans-serif;
}

.hero-text{
    font-size: 60px;
}


@media (max-width:600px){
    .hero-text{
    font-size: 40px;
}
}