@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body{
    font-family: "Space Grotesk", sans-serif;
}

.hero-text{
    font-size: 60px;
}

.bg-green{
  background-color: #B9FF66;
}

.bg-gray{
  background-color: #F3F3F3;
}
.accordion-btn{
  width: 40px;
  height: 40px;
}
.accordion-btn[aria-expanded="true"]::after{
content: "-";
}

.accordion-btn[aria-expanded="false"]::after{
content: "+";
}

.accordion-item:has(.accordion-btn[aria-expanded="true"]){
background-color: #B9FF66;
}

.accordion-item:has(.accordion-btn[aria-expanded="false"]){
background-color: #F3F3F3;
}
@media (max-width:600px){
    .hero-text{
    font-size: 40px;
}
}
