* {
  margin: 0;
  padding: 0;
}

main {
  background-image: url(back-01.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
}

.about {
  /* background-image: url(flower.jpeg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: 50% 50%; */
  /* background: url(flower.jpeg) no-repeat; */
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
}
