* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: auto;
  display: flex;
}

.left {
  width: 20%;
  background-color: chocolate;
  height: 100vh;
  position: sticky;
  top: 0;
}

.left > ul {
  padding: 100px 0px 0px 50px;
}

.left > ul > li {
  list-style: none;
  padding-top: 20px;
}

.right {
  width: 80%;
  background-color: rgb(231, 199, 188);
}

nav {
  background-color: rgb(165, 165, 216);
}

nav > ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

nav > ul > li {
  list-style: none;
}

.hero {
  background-color: darkcyan;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.cards {
  display: flex;
  margin: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.cards > div {
  width: calc(25% - 10px);
  min-width: 150px;
  background-color: gold;
  height: 100px;
  text-align: center;
  align-content: center;
  flex-grow: 1;
}

.boxes {
  display: flex;
  margin: 10px;
  gap: 10px;
  height: 400px;
}

.box {
  background-color: chartreuse;
  height: 50%;
}

.box-1 {
  width: 50%;
  height: 100%;
}

.box-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#toggle-btn {
  display: none;
}

.open,
.close {
  display: none;
}

@media (max-width: 600px) {
  .boxes {
    flex-direction: column;
  }

  .box-1,
  .box-right {
    width: 100%;
  }
  .boxes {
    height: auto;
  }

  .box {
    height: 200px;
  }

  .right {
    width: 100%;
    position: relative;
  }

  .left {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    display: none;
  }

  #toggle-btn:checked ~ .left {
    display: block;
  }

  .open,
  .close {
    display: block;
  }

  .close {
    text-align: end;
    padding: 10px;
  }
}
