* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  gap: 10px;
}

.logo {
  width: 20%;
  background-color: #930416;
  height: 50px;
}

.menu {
  width: 80%;
  background-color: #cc3433;
  height: 50px;
}

main {
  display: flex;
  gap: 10px;
}

.left {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  background-color: #320000;
  height: 100px;
}

article {
  display: flex;
  gap: 10px;
  height: 300px;
}

.boxes {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row-1 {
  display: flex;
  gap: 20px;
}

.row-2 {
  display: flex;
  gap: 20px;
}
.tab-social {
  width: 20%;
}

.social {
  width: 100%;
  background-color: #986665;
  height: 300px;
}

.right {
  width: 20%;
}

.ads {
  background-color: #cb9998;
  height: 500px;
}

.box {
  background-color: gray;
  width: 50%;
  height: calc(160px - 20px);
}

footer {
  display: flex;
  gap: 10px;
  height: 100px;
}

.footer {
  width: 80%;
  background-color: #320000;
}

.tag-cloud {
  width: 20%;
  background-color: #660000;
}

.tab-tag-cloud {
  display: none;
}

/* Tablet */
@media (max-width: 758px) {
  main {
    flex-direction: column-reverse;
  }

  .ads {
    height: 100px;
  }

  .right {
    width: 100%;
  }

  .left {
    width: 100%;
  }

  article {
    flex-direction: column;
    height: 400px;
  }

  .boxes {
    width: 100%;
  }

  .social {
    width: 50%;
    height: 100px;
  }

  .tag-cloud {
    display: none;
  }

  .footer {
    width: 100%;
  }

  .tab-tag-cloud {
    background-color: #cc3433;
    display: block;
    width: 50%;
  }

  .tab-social {
    display: flex;
    gap: 20px;
    width: 100%;
  }
}

/* Mobile  */
@media (max-width: 600px) {
  .row-1 {
    flex-direction: column;
  }

  .row-2 {
    flex-direction: column;
  }

  .box {
    height: 50px;
    width: 100%;
  }

  .boxes {
    width: 100%;
  }

  .social {
    width: 100%;
    height: 50px;
  }

  .tab-tag-cloud {
    display: none;
  }

  .tag-cloud {
    display: block;
    width: 100%;
    height: 200px;
  }
  .footer {
    height: 200px;
  }
  footer {
    flex-direction: column;
  }
}
