* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.boxes {
  background-color: green;
  width: 1100px;
  height: 100vh;
  margin: auto;
  display: flex;
}
.row-01 {
  width: 300px;
  height: 500px;
}
.box-01 {
  width: 300px;
  height: 300px;
  border: 10px solid black;
}
.row-02 {
  width: 300px;
  height: 300px;
}
.box-02 {
  width: 300px;
  height: 300px;
  border: 10px solid black;
  border-top: 0px;
}
.row-03 {
  width: 300px;
  height: 300px;
}
.box-03 {
  width: 300px;
  height: 200px;
}

.row-04 {
  width: 300px;
  height: 300px;
}
