@font-face {
  font-family: "Jost";
  src: url(fonts/Jost/static/Jost-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

.container {
  max-width: 1400px;
  margin: 0px auto;
}

:root {
  --secondary: #cb354e;
  --primary: #ffff;
  --accent: #199588;
  --gray: #666666;
  --font-md: 13px;
}

ul > li {
  list-style: none;
}

/* ====== Top Header =========== */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  color: var(--primary);
  height: 50px;
  padding: 0px 10px;
  font-size: var(--font-md);
}

.top-header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.top-header a {
  color: var(--primary);
}

.bar {
  width: 1px;
  height: 15px;
  background-color: var(--primary);
}

@media (max-width: 1020px) {
  .top-header-left,
  .top-header-right {
    display: none;
  }

  .top-header-center {
    margin: auto;
  }
}

/* ============= Navbar ============== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu > ul {
  display: flex;
  gap: 20px;
}
.menu > ul {
  font-size: var(--font-md);
  font-weight: bold;
  letter-spacing: 1.5px;
}

.menu > ul > li > i {
  font-size: 10px;
}
.menu > ul > li,
.logo > *,
.icons > *,
.close-btn {
  cursor: pointer;
}
.menu-sale {
  background-color: var(--accent);
  color: var(--primary);
  font-size: 10px;
  border-radius: 5px;
  padding: 2px 8px;
}

.menu-hot {
  background-color: var(--secondary);
}

.icons {
  display: flex;
}

.icons > i,
.heart-zero > i {
  margin-left: 10px;
  font-size: 20px;
}
.icons > i:hover,
.heart-zero > i:hover {
  color: var(--secondary);
}

.heart-zero {
  position: relative;
  text-align: center;
}

.heart-zero > p {
  position: absolute;
  top: -8px;
  left: 25px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  font-size: small;
}

.checkbox,
aside,
.menu-btn {
  display: none;
}

.dropdown-menu {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 30px;
  background-color: var(--primary);
  color: var(--gray);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 250px;
  max-height: 350px;
  padding: 20px 0px 10px 30px;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.25s ease-out, 0.25s ease-out;
}

.dropdown > li {
  margin-top: 8px;
}
.dropdown-menu:hover .dropdown {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1020px) {
  aside,
  .menu-btn {
    display: block;
  }

  .menu-desktop {
    display: none;
  }

  .menu > ul {
    flex-direction: column;
    padding: 20px 0px 0px 20px;
  }
  .menu > ul > li {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }

  .hero-section {
    position: relative;
  }

  aside {
    position: absolute;
    top: 0px;
    background-color: var(--primary);
    height: 100vh;
    width: 80%;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }

  #toggle-btn:checked + aside {
    transform: translateX(0);
  }
  .close-btn {
    display: flex;
    justify-content: end;
    padding: 20px;
  }
}
