@import url(index.css);

/* ========== Position absolute and realtive ========= */
/* .parent {
  width: 800px;
  height: 400px;
  border: 1px solid black;
  position: relative;
}

.box1 {
  width: 300px;
  height: 300px;
  background-color: red;
  position: absolute;
  right: 0px;
  bottom: 0px;
} */



/* =============== Position Sticky =============== */
/* nav {
  position: sticky;
  top: 0px;
}

ul {
  text-align: end;
  background-color: red;
  color: white;
}

li {
  display: inline-block;
  list-style: none;
  padding:20px;
}

.parent {
  background-color: purple;
  width: 100%;
  height: 100vh;
} */




/* ================= Z Index ================== */
/* img {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;
} */




/* ================ Float Example 01 ====================== */
/* .box1 {
  background-color: red;
  height: 300px;
  width: 30%;
  float: left;
}

.box2 {
  background-color: blue;
  height: 300px;
  width: 70%;
  float: left;
}

.box3 {
  background-color: green;
  height: 300px;
  width: 30%;
  clear: both;
} */



/* ================ Float Example 02 ====================== */
/* .floating>img{
    float: right;
    width:200px;
    height:200px;
} */




/* ========= Parents of Floated Elements: Solution ========= */
/* .parent {
  border: 5px solid black;
  overflow: auto;
}

.box1 {
  background-color: red;
  height: 300px;
  width: 30%;
  float: left;
}

.box2 {
  background-color: blue;
  height: 300px;
  width: 70%;
  float: left;
} */



/* ============ Fixed width layout ============= */
main{
background-color: brown;
max-width: 800px;
margin: auto;
}
